*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*config_generator.properties
# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.ilargia.entitas.codeGeneration.gradle
build/

# Ignore Gradle GUI config
ilargia.entitas.codeGeneration.gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!ilargia.entitas.codeGeneration.gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.idea

gradlew
gradlew.bat
ilargia.entitas.codeGeneration.gradle/
.gradle/
